
<ons-page ng-controller="test_Controller">
    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">test</div>
    </ons-toolbar>
    <ons-button ng-click="on_add()">add_id</ons-button>
    <ons-button ng-click="on_del()">add_del</ons-button>
    <table>
        <tr>
    		<td><ons-button ng-click="on1()">test<ons-button></td>
            <td><ons-button ng-click="on2()">dat</ons-button></td>
            <td><ons-button ng-click="on3()">dat_syo</ons-button></td>
            <td><ons-button ng-click="on4()">dat_sou</ons-button></td>
    	</tr>
        <tr>
            <td><ons-button ng-click="on5()">option</ons-button></td>
            <td><ons-button ng-click="on6()">cast</ons-button></td>
            <td><ons-button ng-click="on7()">cre</ons-button></td>
            <td><ons-button ng-click="on8()">dat_dil</ons-button></td>
        </tr>
    </table>
    
<ons-modal var="modal">
  <ons-icon icon="ion-load-c" spin="true"></ons-icon>
  
</ons-modal>

<!-- 
<br>
  <br> Please wait.
  <br>Closing in 2 seconds.
-->    
    
    
    
    
    
    <ons-button ng-click="on9()">salary_s</ons-button>
    <ons-button ng-click="on10()">no_t</ons-button>
    <ons-button ng-click="on11()">pay_s</ons-button>
    <ons-button ng-click="on12()">cast_c</ons-button>
    <ons-button ng-click="on13()">login</ons-button>
    <ons-button ng-click="on14()">change</ons-button>
    <ons-button ng-click="on15()">home</ons-button>
</ons-page>